@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 04";
}

<h1> Welcome to my website, my name is Juan Diego but I go by JD!</h1>
<img src="img/JDphoto.jpg" />
<p>I don't have a picture of me doing what I like to do because I like to take pictures haha! I have a 1986 Canon film camera, and I go around and take cool pictures with it, click <a href="https://www.instagram.com/film.sniper/" target="_blank">here</a> to see some of them!</p>
<p>From this class, I hope to get some good experience/knowledge writing cool web apps. I am excited to learn C# because I have heard so many people use it! This will help me in my future jobs.</p>
<p>Speaking of jobs, here is my top 3 list of jobs I am the most interested in pursuing after graduating:</p>
<br />
<ol>
    <li>Start my own Business</li>
    <li>Technology Consulting</li>
    <li>Data Analytics</li>
</ol>



